* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }

  body {
    padding-top: 50px;
  }

  nav {
    width: 100vw;
    height: 50px;
    background-color: seagreen;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  section {
    position: relative;
    width: 100vw;
    height: 70vh;
    z-index: 1;
  }

  .main_container {
    position: relative;
    width: 800px;
    margin: 0;
    margin-left: 20px;
  }

  .section-p1 {
    padding: 40px 80px;
  }

  h1 {
    font-family: sans-serif;
    font-size: 70px;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-left: 20px;
    padding-top: 50%;
}

h2 {
  font-family: sans-serif; 
  font-size: 30px; color: black; 
  margin-left: 20px; 
}

p {
  font-family: sans-serif; 
  font-size: 14px; color: black; 
  margin-left: 20px; padding-top:  10px ;
   margin-right: 150px;
}

img {
  margin-left: 690px;
   margin-top: -200px; 
   width: 100%;
   width:740px;
    height: 1000px
}
  /* NAV BAR MENU */

  nav .main_container .menu {
    position: relative;
    width: 100px;
    height: 25px;
    padding: 0px 25px;
    padding-top: 15px;
    float: left;
    color: white;
    cursor: pointer;
    text-align: center;
    background-color: transparent;
    transition: background-color 0.5s;
  }

  nav .main_container .menu:hover {
    background-color: black;
  
  }

  #footer {
 display: block; 
 align-items: flex-start;
 padding: 20px 80px;
 margin: 150px;
 margin-left: 20px;
  }

#content { 
  display: block;
  align-items: baseline;
  justify-content: baseline;
}

#content li {
  list-style: none;
  padding: 20px;
}

#content li a {
text-decoration: none;
font-size: 16px;
font-weight: 600;
color: black;
}